@import '../../app/styles/variables.scss';

.select {
  position: relative;
  width: auto;

  &.fullWidth {
    width: 100%;
    .select_field {
      width: 100%;
    }
  }

  &_field {
    cursor: pointer;
    user-select: none;
    padding: 8px 16px;
    background-color: var(--gray-100-600);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    font-size: 16px;
    line-height: 25px;
    width: auto;
    transition: all 0.3s;
    svg {
      width: 16px;
      height: 16px;
      flex: none;
      transition: all 0.2s;

      path {
        transition: all 0.2s;
        stroke: var(--gray-900-0);
      }
    }

    &:hover {
      background-color: $accent-900;
      svg path {
        stroke: $accent-600;
      }
    }
    &.select_field_active {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
  &_dropdown {
    cursor: pointer;
    user-select: none;

    background-color: var(--gray-100-600);
    border-radius: 8px;
    padding: 8px 0;
    font-size: 16px;
    line-height: 25px;

    margin-top: 4px;
    position: absolute;
    z-index: 100;
    right: 0;
    width: auto;
    max-height: 300px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $accent-600;
    }
  }
  &_option {
    white-space: nowrap;
    padding: 0px 16px;
    cursor: pointer;
    transition: all 0.2s;
    color: var(--gray-900-0);
    &:hover {
      color: $accent-600;
    }
  }
  &_option + .select_option {
    margin-top: 8px;
  }
}
