@import '../../app/styles/variables.scss';

.products {
  margin-bottom: 160px;

  &_title {
    text-align: center;
  }
  &_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 48px;
  }
  &_wrapper {
    display: flex;
    gap: 24px;
    align-items: flex-start;
  }
  &_toggleBox {
    display: none;
    &.products_accordeon_opened {
      display: block;
    }
  }
  &_accordeonArrow {
    transition: all 0.3s;
    width: 24px;
    height: 24px;
    &.products_accordeon_opened {
      transform: rotate(180deg);
    }
  }
  &_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    width: 100%;
    grid-gap: 16px;
    margin-bottom: 64px;
  }

  &_asideButton {
    display: none !important;
    margin-bottom: 32px !important;
  }

  &_accordeon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    border-radius: 16px;
    background-color: var(--gray-100-800);
    margin-bottom: 16px;
    cursor: pointer;
  }
  &_accordeonInfo {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
  }

  @media (max-width: $screen-xxl) {
    &_cards {
      grid-template-columns: repeat(3, 1fr);
      max-width: 100%;
      width: 100%;
    }
  }
  @media (max-width: $screen-l) {
    &_head {
      margin-bottom: 24px;
      flex-wrap: wrap;
      gap: 16px;
    }
    &_accordeon {
      padding: 16px;
    }
    &_title {
      margin-right: 36px;
    }
    &_asideButton {
      display: block !important;
    }
    &_cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: $screen-m) {
    &_controls {
      margin-bottom: 32px;
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(2, 1fr);

      & > *:nth-child(3) {
        grid-column: span 2;
      }
    }
  }
  @media (max-width: $screen-s) {
    margin-bottom: 64px;
    &_accordeon {
      gap: 16px;
      margin-bottom: 8px;
    }
    &_accordeonInfo {
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
    }
    &_cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      margin-bottom: 32px;
    }
  }
}
