@import '../../../app/styles/variables.scss';

.formModal {
  padding: 16px 8px;

  &_title {
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 32px;
  }
  &_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
  }
  &_footer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    :global(.link) {
      margin: 0 auto;
    }
  }

  @media (max-width: $screen-s) {
    padding: 0;
    padding-bottom: 8px;
    &_title {
      margin-bottom: 24px;
    }
    &_box {
      margin-bottom: 24px;
    }
  }
}
