@import '../../app/styles/variables.scss';

.accontSettings {
  margin-bottom: 160px;
  padding-top: 40px;
  &_title {
    text-align: center;
    margin-bottom: 64px;
  }
  &_box {
    display: flex;
    align-items: stretch;
    gap: 24px;
  }

  @media (max-width: $screen-l) {
    &_box {
      flex-direction: column;
      gap: 16px;
    }
  }
  @media (max-width: $screen-s) {
    padding-top: 72px;
    &_title {
      margin-bottom: 40px;
    }
  }
}
