@import '../../app/styles/variables.scss';

.input {
  position: relative;
  max-width: 100%;
  width: 100%;

  &:hover {
    .input_field {
      // border: 2px solid var(--accent-300-600);
      background-color: $accent-900;

      &::placeholder {
        color: $accent-600;
      }
    }
    svg path {
      stroke: $accent-900;
    }
  }

  &.input_error {
    .input_field {
      border: 2px solid $danger;
      color: $danger;

      &::placeholder {
        color: $danger;
      }
    }
    svg path {
      stroke: $danger;
    }
  }

  &_field {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--gray-100-600);
    border: none;
    outline: none;
    line-height: 26px;

    border: 2px solid transparent;
    color: var(--gray-negative-700);
    transition: all 0.2s;

    &::placeholder {
      color: $grey-300;
      transition: all 0.3s;
    }
  }
  &_button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;

    svg path {
      stroke: $grey-300;
      transition: all 0.3s;
    }

    &:hover {
      svg path {
        stroke: $accent-300;
      }
    }
  }
}
