@import '../../app/styles/variables.scss';

.footer {
  padding: 24px 0;

  &_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &_copy {
    font-size: 14px;
    line-height: 20px;
    color: var(--copy-color);
  }

  &_up {
    width: 24px;
    height: 24px;
    &:hover {
      svg path {
        stroke: $accent-600;
      }
    }
  }

  svg path {
    transition: all 0.3s;
    stroke: var(--copy-color);
  }

  @media (max-width: $screen-m) {
    padding: 16px 0;
  }
}
