@import '../../app/styles/variables.scss';

.top {
  margin-top: 76px;
  margin-bottom: 72px;
  text-align: center;

  &_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 546px;
    margin: 0 auto;
  }

  &_head {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 auto;

    span {
      color: $grey-300;
      line-height: 26px;
      margin-bottom: 24px;
    }
  }

  &_title {
    font-size: 64px;
    line-height: 70px;
    padding-bottom: 24px;
  }
  &_desription {
    text-align: center;
    color: $grey-300;
  }

  @media (max-width: $screen-m) {
    margin-top: 40px;
    margin-bottom: 64px;
    &_title {
      font-size: 40px;
      line-height: 44px;
    }
  }
}
