@import '../../app/styles/variables.scss';

.banner {
  margin-bottom: 80px;

  &_item {
    min-height: 256px;

    max-width: 100%;
    width: 100%;
    border-radius: 16px;
    height: auto;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 40px 56px;

    img {
      position: relative;
      z-index: 10;
    }
  }

  &_title {
    color: var(--banner-color);
    margin-bottom: 20px;
  }
  &_text {
    color: var(--banner-color);
    font-size: 16px;
    line-height: 26px;
    max-width: 800px;
  }

  @media (max-width: 768px) {
    margin-bottom: 64px;
    &_item {
      height: auto;
      padding: 20px;
    }
  }
}
