@import '../../app/styles/variables.scss';

.button {
  padding: 8px 24px;
  width: auto;
  margin: 0 auto;
  border-radius: 8px;
  background-color: $accent-900;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $accent-600 !important;
  transition: all 0.2s;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &.button_fullWidth {
    max-width: 100%;
    width: 100%;
  }
  &.button_notCetered {
    margin: 0;
  }

  svg {
    width: 24px;
    height: 24px;

    path {
      transition: all 0.2s;
      stroke: $accent-600 !important;
    }
  }

  &:hover {
    background-color: var(--accent-600-900);
    color: $accent-300 !important;

    svg path {
      stroke: $accent-300 !important;
    }
  }
}
